@model ProLab.Areas.HockeyData.Models.DataModels.HockeyArena

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HockeyArena</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditHockeyArena">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="HockeyArenaName" class="control-label"></label>
                <input asp-for="HockeyArenaName" class="form-control" />
                <span asp-validation-for="HockeyArenaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexHockeyArenas">Back to List</a>
</div>
<div class="card-footer">
    🔙
    <a asp-area="HockeyData"
       asp-controller="Home"
       asp-action="IndexHockeyData">
        Tillbaka till Hockey Admin
    </a>
    🔙
    <a asp-area="HockeySeason2025_2026"
       asp-controller="Home"
       asp-action="HockeyAdminDashboard">
        Tillbaka till Hockey Admin Dashboard
    </a>
</div>