<div class="card">
    <div class="card-header">
        <h2>Welcome to ProLab XLab</h2>
    </div>
    <div class="card-body">
        <a asp-area="XLab"
           asp-controller="XLabVideos"
           asp-action="Index"
           class="btn btn-outline-success">
            Till XLab Videobiblioteket 🎥
        </a>
    </div>
    <div class="card-footer text-center">
        <div class="card-footer text-muted">
            🔙
            <a asp-area=""
               asp-controller="Home"
               asp-action="Index">
                Tillbaka till ProLabX
            </a>
        </div>
    </div>
</div>
