<h3><b>Links</b></h3>

<h4><b>Fitness APPar - Trackers !</b></h4>
<ul style="list-style-type:square;">
    <li><a href="https://connect.garmin.com/signin/" target="_blank">Garmin Connect</a></li>
    <li><a href="https://www.strava.com/" target="_blank">Strava</a></li>
    <li><a href="https://www.mapmyfitness.com/" target="_blank">Map My Fitness</a></li>
    <li><a href="https://www.mapmyrun.com/" target="_blank">Map My Run</a></li>
    <li><a href="https://home.trainingpeaks.com/login" target="_blank">Traing Peaks</a></li>
</ul>

<h4><b>Fitness APPar - Diet managering !</b></h4>
<ul style="list-style-type:square;">
    <li><a href="https://www.myfitnesspal.com/sv/" target="_blank">My Fitness pal</a></li>
</ul>
<h4><b>Träningsanläggningar !</b></h4>
<ul style="list-style-type:square;">
    <li><a href="https://www.medley.se/solna-simhall/oppettider/" target="_blank">Öppet tider Medley Solna</a></li>
</ul>

<h4><b>Stockholms Ishockeyförbund</b></h4>

<ul style="list-style-type:square;">
    <li><a href="https://www.stockholmhockey.se/Domare/domartillsattning/domaretilltraningsmatcher" target="_blank">Domartillsättning för träningsmatcher U16-DIV4</a></li>
    <li><a href="https://adm.swehockey.se/" target="_blank">TSM - Svenska Ishockeyförbundet</a></li>
    <li><a href="https://stats.swehockey.se/Referee/ByGame" target="_blank">Referee ByGame - Svenska Ishockeyförbundet</a></li>
    <li><a href="~/docs/Arvode 22-24.pdf" target="_blank">Domararvoden 2022-2024</a></li>
    <li><a href="http://www.stockholmhockey.se/globalassets/stockholms-ishockeyforbund/dokument/domare/domarkvitto.pdf" target="_blank">Domarkvitto - Stockholms Ishockeyförbundet</a></li>
    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdc9qxj0LJt48NOwGeki11Yz68unPAx_doGKSFLeLkwyiwxBA/viewform" target="_blank">Återbudsdokument Domare - Stockholms Ishockeyförbundet</a></li>
    <li><a href="https://madm.swehockey.se/" target="_blank">Madmin - Ishockeyförbundet</a></li>
    <li><a class="btn btn-sm btn-outline-success" asp-controller="Health" asp-action="Index">Mediciniskt protokoll inför match</a></li>
    <li><a href="https://pdf.mediahandler.se/pdf/Spelregler_for_ishockey_2022-2023/" target="_blank">Spelregler för ishockey 2022-2023</a></li>
</ul>

<h2>AIK</h2>

<ul style="list-style-type:square;">
    <li><a href="https://www.svenskalag.se/aikhockey" target="_blank">AIK Ishockeyförening</a></li>
    <li><a href="http://admin.istiden.se/ut/aik/ulriksdals-ip-hall-1" target="_blank">Istider Ulriksdals IP Hall 1</a></li>
    <li><a href="http://admin.istiden.se/ut/aik/ulriksdals-ip-hall-2" target="_blank">Istider Ulriksdals IP Hall 2</a></li>
    <li><a href="http://admin.istiden.se/ut/aik/ulriksdals-ip-hall-3" target="_blank">Istider Ulriksdals IP Hall 3</a></li>
</ul>

<h2>Haninge Anchors HC</h2>

<ul style="list-style-type:square;">
    <li><a href="https://www.svenskalag.se/haningeanchors" target="_blank">Haninge Anchors HC</a></li>
    <li><a href="http://admin.istiden.se/ut/haninge-anchors-hc/torvalla-ishall" target="_blank">Istider T1</a></li>
    <li><a href="http://admin.istiden.se/ut/haninge-anchors-hc/torvalla-2" target="_blank">Istider T2</a></li>
    <li><a href="http://admin.istiden.se/ut/haninge-anchors-hc/haribo-hallen" target="_blank">Istider Hanveden</a></li>
</ul>


<h2>Sollentuna Latebloomers</h2>

<ul style="list-style-type:square;">
    <li><a href="https://member.myclub.se/accounts/choose/" target="_blank">MyClub</a></li>
</ul>

<h2>Externa siter</h2>

<ul style="list-style-type:square;">
    <li><a href="https://cleverservice.se/" target="_blank">Cleverservice</a></li>
</ul>