@model ProLab.Areas.HockeyData.Models.DataModels.HockeyGame

@{
    ViewData["Title"] = "Create Hockey Game";
}

<h1>Create</h1>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label class="form-label">Datum & Tid (lokal tid)</label>
        <input asp-for="GameDateTime"
               type="datetime-local"
               class="form-control" />
    </div>

    <partial name="_HockeyGameForm" model="Model" />

    <button type="submit" class="btn btn-sm btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>
</form>