@model IEnumerable<ProLab.Areas.XLab.Models.DataModels.XLabVideo>
<div class="card">
<div class="card-header text-center">
        <h2>🎬 XLab – Videos</h2>
        <p><a asp-action="Create" class="btn btn-primary">⬆ Upload video</a></p>
</div>
<div class="card-body">
<table class="table">
    <tr>
        <th>Titel</th>
        <th>Uppladdad</th>
        <th></th>
    </tr>

    @foreach (var v in Model)
    {
        <tr>
            <td>@v.Title</td>
            <td>@v.UploadedAt.ToLocalTime()</td>
            <td>
                <a asp-action="Watch" asp-route-id="@v.Id">▶ Watch</a>
                        <a asp-action="Delete" asp-route-id="@v.Id"
                           class="btn btn-sm btn-outline-danger">
                            🗑 Delete
                        </a>
            </td>
        </tr>
    }
    </table>
    </div>
    <div class="card-footer text-center">
        <div class="card-footer text-muted">
            🔙
            <a asp-area="XLab"
               asp-controller="XLab"
               asp-action="IndexXLab">
                Back to XLab Home
            </a>
        </div>
</div>